<a href="https://colab.research.google.com/github/Dalton-222/DataEngineer-class/blob/main/Demostracao4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import csv;
import sqlite3;

#Funcao para remover o ponto nos dados da ultima coluna
def remove_ponto(valor):
  return int(valor.replace('.', ''))

#Abre o arquivo CSV com os dados de producao de alimentos
with open('producao_alimentos.csv', 'r') as file:
  #cria um leitor de csv para ler o arquivo
  reader = csv.reader(file)

  #pula a primeira linha, que contem os cabeçalhos e colunas
  next(reader)

  #conecta ao banco de dados
  conn = sqlite3.connect('dsadb.db')

  #Deleta a tabela existente, se houver
  conn.execute('DROP TABLE IF EXISTS producao')

  #cria uma tabela para armazenar os dados de produção de alimentos com a nova coluna 'marge_lucro'
  conn.execute('''
            CREATE TABLE IF NOT EXISTS producao(
              produto TEXT,
              quantidade INTEGER,
              preco_medio REAL,
              receita_total REAL,
              margem_lucro REAL
            )
  ''')

  #Insere cada linha do arquivo na tabela do banco de dados
  for row in reader:
    if int(row[1]) > 10:

      #Remove o ponto do valor da última coluna e converte para inteiro
      row[3] = remove_ponto(row[3])

      #Calcula a margem de lucro bruta com base no valor medio de venda e na receita total
      margem_lucro = round((row[3] / float(row[1]) - float(row[2])), 2)

      #Insere o Registro no banco de dados
      conn.execute('''INSERT INTO producao
                (produto, quantidade, preco_medio, receita_total, margem_lucro)
                VALUES (?, ?, ?, ?, ?)''', (row[0], row[1], row[2], row[3], margem_lucro))

  conn.commit()
  conn.close()

print("Job Concluido com sucesso!")

Job Concluido com sucesso!